.container-chat {
   display: flex;
    gap: 20px;
    flex-direction: column;
    width: 570px;
    height: 628px;
    color: white;
    box-shadow: 0 0 60px white;
    border-radius: 10px;




}




